/*
Highlight the following:
  1) NPs whose parents are S
  2) NPs preceded by an NP
*/
/* Body rules */
.container {
  background-color: #002b36;
}
.formattedText {
  color: #93a1a1;
}
/* Specific highlighting rules */
.label-S > .label-NP {
  color: #eee8d5;
}
.label-NP ~ .label-NP {
  color: #93a1a1;
}
.label-IN {
  color: #93a1a1;
}
.label-VBN {
  color: #268bd2;
}
.label-PP {
  background-color: #073642;
  border-radius: 5px;
  transition-duration: .5s;
  transition-property: color, background-color;
}
.label-PP:hover {
  background-color: #268bd2;
}
